
<h4>Commentaires : </h4>

<p class="container text-center">  
  <% @gossip.comments.each do |comment| %> <%# gossips est un tableau d'objet ! %>
      <ul>      
        <li><%=comment.user.first_name  %> : <%=comment.content  %></li>           
      </ul>
  <% end %>   
</p>
